<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>Edit <%= @neighborhood.id %></h1>
    <a href="<%= url_for :action => :show, :id => @neighborhood.object %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
    <a href="<%= url_for :action => :delete, :id => @neighborhood.object %>" class="ui-btn-right" data-icon="delete" data-direction="reverse">
      Delete
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :update %>">
      <input type="hidden" name="id" value="<%= @neighborhood.object %>"/>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[id]" class="fieldLabel">Id</label>
            <input type="text" id="neighborhood[id]" name="neighborhood[id]" value="<%= @neighborhood.id %>" <%= placeholder( "Id" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[url]" class="fieldLabel">Url</label>
            <input type="text" id="neighborhood[url]" name="neighborhood[url]" value="<%= @neighborhood.url %>" <%= placeholder( "Url" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[lat]" class="fieldLabel">Lat</label>
            <input type="text" id="neighborhood[lat]" name="neighborhood[lat]" value="<%= @neighborhood.lat %>" <%= placeholder( "Lat" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[long]" class="fieldLabel">Long</label>
            <input type="text" id="neighborhood[long]" name="neighborhood[long]" value="<%= @neighborhood.long %>" <%= placeholder( "Long" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[zip]" class="fieldLabel">Zip</label>
            <input type="text" id="neighborhood[zip]" name="neighborhood[zip]" value="<%= @neighborhood.zip %>" <%= placeholder( "Zip" ) %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[name]" class="fieldLabel">Name</label>
            <input type="text" id="neighborhood[name]" name="neighborhood[name]" value="<%= @neighborhood.name %>" <%= placeholder( "Name" ) %> />
          </div>
      
      <input type="submit" value="Update"/>
    </form>
  </div>

</div>
