<div data-role="page">

  <div data-role="header" data-position="inline">
    <h1>New <%= @neighborhood.title %></h1>
    <a href="<%= url_for :action => :index %>" class="ui-btn-left" data-icon="back" data-direction="reverse">
      Cancel
    </a>
  </div>

  <div data-role="content">
    <form method="POST" action="<%= url_for :action => :create %>">
      <input type="hidden" name="id" value="<%= @neighborhood.object %>"/>

      
          <div data-role="fieldcontain">
            <label for="neighborhood[id]" class="fieldLabel">Id</label>
            <input type="text" id="neighborhood[id]" name="neighborhood[id]" <%= placeholder("Id") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[url]" class="fieldLabel">Url</label>
            <input type="text" id="neighborhood[url]" name="neighborhood[url]" <%= placeholder("Url") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[lat]" class="fieldLabel">Lat</label>
            <input type="text" id="neighborhood[lat]" name="neighborhood[lat]" <%= placeholder("Lat") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[long]" class="fieldLabel">Long</label>
            <input type="text" id="neighborhood[long]" name="neighborhood[long]" <%= placeholder("Long") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[zip]" class="fieldLabel">Zip</label>
            <input type="text" id="neighborhood[zip]" name="neighborhood[zip]" <%= placeholder("Zip") %> />
          </div>
      
          <div data-role="fieldcontain">
            <label for="neighborhood[name]" class="fieldLabel">Name</label>
            <input type="text" id="neighborhood[name]" name="neighborhood[name]" <%= placeholder("Name") %> />
          </div>
      

      <input type="submit" value="Create"/>
    </form>
  </div>

</div>
